@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Noto+Serif+Sinhala&family=Righteous&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.app {
	height: 100%;
	width: 100%;
	font-family: 'Noto Serif Sinhala', serif;
	@apply text-dark-blue-100;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	-webkit-background-clip: text;
	-webkit-text-fill-color: #1D5171;
	transition: background-color 5000s ease-in-out 0s;
}

select:invalid {
	color: rgb(148 163 184);
}

.swiper-pagination {
  display: flex !important; /* 横並びにする */
  justify-content: center; /* 中央揃え */
  gap: 0.5rem; /* ドットの間隔を調整 */
	height:22px;
}
